*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}
header{
    width: 100%;
    /* min-width: 900px; */
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.comunicado{
    width: 100%;
    height: 30px;
    background-color: #cfcfcf;
    margin-top: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.comunicado p{
    color: rgb(75, 75, 75);
}
nav{
    width: 100%;
    height: 50px;
    background-color: #7c0960;
    margin-bottom: 30px;
    display: flex;
    justify-content:center ;
    align-items: center;
}
nav ul{
    display: flex;
    color: white;
    list-style: none;
    position: relative;
}
nav ul li{
    margin: 20px;
    color: rgb(241, 241, 241);
    cursor: pointer;
    
}
nav ul li span{
    visibility: hidden;
    display: block;
    width: 100%;
    height: 3px;
    position: relative;
    top: 17px;
    background-color: #e33e82;
}
nav ul li a{
    text-decoration: none;
    color: rgb(241, 241, 241);
}
nav ul li:hover a span{
    visibility:visible;
}
.clicado{
    visibility:visible;
}


.logo{
    margin-top: 30px;
    background: url(img/logo.jpg) center no-repeat;
    background-size: 100%;
    width: 350px;
    height: 250px;;
    /* border: 1px solid red; */
}
main{
    display: flex;
    justify-content: center;
}
.tprod{
    width: 1200px;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;
}
.prod{
    margin: 15px;
    width: 540px;
    height: 250px;
    /* border: 1px solid red; */
    display: flex;
    box-shadow: 2px 2px 8px #888888;
    transition: .3s ease-in-out;

}
.prod:hover{
    box-shadow: 6px 6px 8px #888888; 
}
.img{
    width: 250px;
    height: 100%;
     
}
img{
    width: 250px;
    height: 100%;
    object-fit: cover;
}
.desc{
    width: 300px;
    height: 100%;
    
}
.titulo{
    width: 100%;
    height: 50%;
    text-transform: uppercase;
    border-bottom:  double rgb(149, 149, 149);
    display: flex;
    align-items: center;
    text-align: center;
}
.titulo h2{
    color: rgb(41, 41, 41);
    font-size: 1rem;
}
.preco h3{
    color: #00a200;
    font-size: 1.2rem;
    padding: 15px;
    margin-right: 40px;
    text-align: right;
}
.desc-item{
    width: 100%;
    height: 25%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.desc-item button{
    display: block;
    width: 200px;
    height: 35px;
    outline: none;
    background-color: #00a200;
    border: none;
    color: #fff;
    cursor: pointer;
}
.desc-item button:hover{
    background-color: #05c805;
}
.box-flutuante{
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 300px;
    height: 180px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 2px 4px 8px #000000b7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    
}
.btn-fechar{
    width: 40px;
    height: 40px;
    background-color: #7c0960;
    border-radius: 50%;
    position: absolute;
    top: -17px;
    right: -15px;
    /* box-shadow: 2px 4px 8px #000000b7; */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}
.btn-fechar p{
    color: white;
    font-size: 2.5rem;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    top: -4px; 
}
.btn-fechar.btn-remover{
    display: none;
}
.box-flutuante button{
    display: block;
    width: 250px;
    height: 45px;
    outline: none;
    background-color: #7c0960;
    border: none;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
}

.box-flutuante button:hover{
    background-color: #940c72;
}
.box-flutuante button:active{
    background-color: #a70e80;
}
.box-flutuante button i{
    margin-left: 15px;
    transform: scale(1.5);
}
.box-text h2{
    color:rgb(70, 70, 70) ;
    /* text-shadow: 1px 1px 0px rgb(80, 80, 80); */
    font-size: 1.4rem;
}